body {
    margin: 0;
    padding: 0;
    background: #28313A;
    font-size: 12px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    text-align: justify;
    color: #5C5C5C;
}

h1, h2, h3 {
    margin: 0;
    text-transform: none;
    font-weight: normal;
    color: #FFFFFF;
}

h1 {
    letter-spacing: -1px;
    font-size: 32px;
}

h2 {
    font-size: 23px;
}

p, ul, ol {
    margin: 0 0 2em 0;
    text-align: justify;
    line-height: 26px;
}

a {
    color: #1B75A9;
}

a:hover, a:active {
    text-decoration: none;
    color: #1B75A9;
}

a:visited {
    color: #1B75A9;
}

img {
    border: none;
}

img.left {
    float: left;
    margin-right: 15px;
}

img.right {
    float: right;
    margin-left: 15px;
}

/* Form */

input, textarea, select {
    font-size: 13px;
    color: #333333;
}

#wrapper {
    margin: 0;
    padding: 0;
}

/* Header */

#header {
    width: 880px;
    margin: 0 auto;
    height: 60px;
    border: 10px #FFFFFF solid;
}

/* Menu */

#menu {
    float: left;
    width: 880px;
    height: 58px;
    background: url(../images/img04.jpg) repeat-x left top;
}

#menu ul {
    margin: 0;
    padding: 23px 0 0 20px;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
    text-align: center;
}

#menu a {
    display: block;
    padding: 0 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    color: #FFFFFF;
}

#menu a:hover { 
    color: red;
}

#menu .current_page_item a {
    
}

/* LOGO */

#logo {
    width: 900px;
    height: 130px;
    margin: 0 auto;
    background: #ffffff url(../images/AllstarHeader.png) no-repeat center;
}

#logo h1, #logo h2 {
    float: left;
    margin: 0;
    padding: 50px 0 0 0;
    line-height: normal;
}

#logo h1 { 
    font-size:40px;
}

#logo h1 a {
    text-decoration: none;
    color: #28313A; 
}

#logo h1 a:hover { text-decoration: underline; }

#logo h2 {
    float: left;
    padding: 65px 0 0 18px;
    font-size: 18px;
    color: #28313A; 
}

#logo p a {
    text-decoration: none;
    color: #28313A;
}

#logo p a:hover { text-decoration: underline; }



/* Page */

#page {
    width: 880px;
    margin: 0 auto;
    background: #FFFFFF;
    border: 10px #FFFFFF solid;
}

/* Content */

#content {
    float: left;
    width: 620px;
}

/* Post */

.post {
    padding: 0 20px;
    margin-bottom: 20px;
}

.post .title {
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.post h1 {
    width: 520px;
    padding: 0;
    font-size: 24px;
    color: #28313A; 
}

.post h2 {
    width: 520px;
    padding: 0;
    font-size: 22px;
    color: #28313A; 
}

.post .entry {
}

.post .product {
    font-size: 16px;
}

.post .meta {
    padding: 15px 15px 30px 0;
    font-size: 10px;
}

.post .meta p {
    margin: 0;
    padding-top: 15px;
    line-height: normal;
    color: #28313A; 
}

.post .meta .byline {
    float: left;
}

.post .meta .links {
    float: right;
}

.post .meta .more {
    padding: 0 20px 0 18px;
}

.post .meta .comments {
    padding-left: 22px;
}

.post .meta b {
    display: none;
}


/* Sidebar */

#sidebar {
    float: right;
    width: 230px;
    margin: 0;
    padding: 0;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin-bottom: 40px;
}

#sidebar li ul {
}

#sidebar li li {
    margin: 0;
}

#sidebar h2 {
    width: 250px;
    padding: 8px 0 0 0;
    margin-bottom: 10px;
    font-size: 20px;
    color: #28313A; 
}

/* Search */

#search {

}

#search h2 {
    margin-bottom: 20px;
}

#s {
    width: 140px;
    margin-right: 5px;
    padding: 3px;
    border: 1px solid #DFE1E0;
}

#x {
    padding: 3px;
    border: none;
    background: #0A5688;
    text-transform: lowercase;
    font-size: 11px;
    color: #FFFFFF;
}

/* Boxes */

.box1 {
    padding: 20px;
}

.box2 {
    color: #BABABA;
}

.box2 h2 {
    margin-bottom: 15px;
    font-size: 16px;
    color: #FFFFFF;
}

.box2 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.box2 a:link, .box2 a:hover, .box2 a:active, .box2 a:visited  {
    color: #EDEDED;
}

/* Footer */

#footer {
    width: 880px;
    height: 25px;
    margin: 0 auto;
    background: #E5E5E5;
    border: 10px #FFFFFF solid;
}

#legal {
    text-align: center;
    color: #595959;
}
