body {
    margin: 0;
    padding: 0;
    background: #28313A;
    font-size: 12px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    text-align: justify;
    color: #5C5C5C;
}

h1, h2, h3 {
    margin: 0;
    text-transform: none;
    font-weight: normal;
    color: #FFFFFF;
}

h1 {
    letter-spacing: -1px;
    font-size: 32px;
}

h2 {
    font-size: 23px;
}

p, ul, ol {
    margin: 0 0 2em 0;
    text-align: justify;
    line-height: 26px;
}

a {
    color: #1B75A9;
}

a:hover, a:active {
    text-decoration: none;
    color: #1B75A9;
}

a:visited {
    color: #1B75A9;
}

img {
    border: none;
}

img.left {
    float: left;
    margin-right: 15px;
}

img.right {
    float: right;
    margin-left: 15px;
}

/* Form */

input, textarea, select {
    font-size: 13px;
    color: #333333;
}

#wrapper {
    margin: 0;
    padding: 0;
}

/* Header */

#header {
    width: 880px;
    margin: 0 auto;
    height: 60px;
    border: 10px #FFFFFF solid;
}

/* Menu */

#menu {
    float: left;
    width: 880px;
    height: 58px;
    background: url(../images/img04.jpg) repeat-x left top;
}

#menu ul {
    margin: 0;
    padding: 23px 0 0 20px;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
    text-align: center;
}

#menu a {
    display: block;
    padding: 0 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    color: #FFFFFF;
}

#menu a:hover { 
    color: red;
}

/* Logo */

#logo {
    width: 900px;
    height: 130px;
    margin: 0 auto;
    background: #ffffff url(../images/AllstarHeader.png) no-repeat center;
}

/* Page */

#page {
    width: 880px;
    margin: 0 auto;
    background: #FFFFFF;
    border: 10px #FFFFFF solid;
}

/* Content */

#content {
    float: left;
    width: 620px;
}

/* Post */

.post {
    padding: 0 20px;
    margin-bottom: 20px;
}

.post .title {
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.post h1 {
    width: 520px;
    padding: 0;
    font-size: 24px;
    color: #28313A; 
}

.post h2 {
    width: 520px;
    padding: 0;
    font-size: 22px;
    color: #28313A; 
}

/* Sidebar */

#sidebar {
    float: right;
    width: 230px;
    margin: 0;
    padding: 0;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin-bottom: 20px;
}

#sidebar li li {
    margin: 0;
}

#sidebar h2 {
    width: 250px;
    padding: 8px 0 0 0;
    margin-bottom: 10px;
    font-size: 20px;
    color: #28313A; 
}

/* Footer */

#footer {
    width: 880px;
    height: 25px;
    margin: 0 auto;
    background: #E5E5E5;
    border: 10px #FFFFFF solid;
}

#legal {
    text-align: center;
    color: #595959;
}
